.fixed-logo {
    position: fixed;
    top: 80px;
    right: 120px;
    width: 160px;
    z-index: 999;
    }

h1 {
    margin-top: -55px !important;
    }

.stChatInput {
    bottom: 25px !important;
}


.custom-disclaimer {
    position: fixed;
    bottom: 7px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.6rem;
    color: #9a9a9a;
    z-index: 999;
    padding: 0 20px;
    }